@font-face {
    font-family: CoreGTE1;
    src: url("./resources/CoreGTE1.otf");
  }
  
  @font-face {
    font-family: CoreGTE2;
    src: url("./resources/CoreGTE2.otf");
  }
  
  @font-face {
    font-family: CoreGTE3;
    src: url("./resources/CoreGTE3.otf");
  }
  
  @font-face {
    font-family: CoreGTE4;
    src: url("./resources/CoreGTE4.otf");
  }
  
  @font-face {
    font-family: CoreGTE5;
    src: url("./resources/CoreGTE5.otf");
  }
  
  @font-face {
    font-family: CoreGTE6;
    src: url("./resources/CoreGTE6.otf");
  }
  
  @font-face {
    font-family: CoreGTE7;
    src: url("./resources/CoreGTE7.otf");
  }
  @font-face {
    font-family: CoreGTE8;
    src: url("./resources/CoreGTE8.otf");
  }
  @font-face {
    font-family: CoreGTE9;
    src: url("./resources/CoreGTE9.otf");
  }
  