.btn {
    border: 2px solid white;
    outline: none;
    padding: 10px 16px;
    background-color: transparent;
    color: #007bec;
    cursor: pointer;
    font-size: 18px;
}
.active, .btn:hover {
    border: none;
    background-color: #007bec;
    color: white;
}

